---

import DefaultLayout from '../layouts/DefaultLayout.astro'

import Hero from '../components/Hero.astro'
import ProgramAffiliate from '../components/ProgramAffiliate.astro'
import FormAffiliate from '../components/FormAffiliate.astro'

const title = "Program Affiliate JasaLike";
const description = "Dapatkan komisi dari setiap transaksi yang berasal dari referral Anda.";
const keywords = "affiliate jasalike, referral jasalike, reseller jasalike";

const dataHero = {
tipe: "service",
labelTeks: "Program Affiliate",
labelIcon: "lucide:users",
judulUtama: 'Program <span class="text-blue-500">Affiliate JasaLike</span>',
deskripsi: "Promosikan layanan JasaLike dan dapatkan komisi dari setiap transaksi yang berasal dari link referral Anda.",
teksTombol1: "Daftar Sekarang",
linkTombol1: "#form-affiliate",
teksTombol2: "Tanya Admin",
linkTombol2: "https://wa.me/6289634740308",
gambarHero: "/image/logo-hero-jasalike.png"
};

<DefaultLayout
title={title}
description={description}
keywords={keywords}

---

<Hero {...dataHero} />

    <ProgramAffiliate />  
   <FormAffiliate />


  </DefaultLayout>
