---
import DefaultLayout from '../layouts/DefaultLayout.astro'

import Hero from '../components/Hero.astro'
import ProgramAffiliate from '../components/ProgramAffiliate.astro'
import FormAffiliate from '../components/FormAffiliate.astro'

const title = "Program Affiliate JasaLike";
const description = "Dapatkan komisi dari setiap transaksi yang berasal dari referral Anda.";
const keywords = "affiliate jasalike, referral jasalike, reseller jasalike";

const dataHero = {
  tipe: "service",
  labelTeks: "Program Affiliate",
  labelIcon: "lucide:users",
  judulUtama: 'Program <span class="text-blue-500">Affiliate</span> untuk Bisnis Online Anda',
  deskripsi: "Dapatkan penghasilan tambahan dengan mempromosikan layanan JasaLike. Setiap transaksi dari link referral Anda menghasilkan komisi yang bisa dipantau secara real-time. <br class='hidden md:block mt-2' /> <span class='text-blue-400 font-semibold block mt-4'>✓ Komisi Menarik &nbsp; ✓ Tracking Real-Time &nbsp; ✓ Materi Promosi Lengkap</span>",
  teksTombol1: "Daftar Sekarang",
  linkTombol1: "#form-affiliate",
  teksTombol2: "Bantuan Affiliate",
  linkTombol2: "https://wa.me/6289634740308",
  gambarHero: "/image/Affiliate-Marketing.png"
};
---

<DefaultLayout
  title={title}
  description={description}
  keywords={keywords}
>

  <Hero {...dataHero} />

  <ProgramAffiliate />

  <FormAffiliate />

</DefaultLayout>
