---
// src/pages/layanan.astro
import DefaultLayout from '../layouts/DefaultLayout.astro'
import LayananHero from '../components/LayananHero.astro'
import LayananGrid from '../components/LayananGrid.astro'
import CaraOrder from '../components/CaraOrder.astro'
import DaftarHarga from '../components/DaftarHarga.astro'
import Testimonials from '../components/Testimonials.astro'
import MetodePembayaran from '../components/MetodePembayaran.astro'
---

<DefaultLayout title="Layanan Lengkap - JasaLike">
  
  <LayananHero />

  <LayananGrid />

  <CaraOrder />

  <DaftarHarga />
  
  <div class="bg-white">
    <Testimonials />
  </div>

  <MetodePembayaran />

</DefaultLayout>
