---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}

const { src = '/like-jasalike.png' }: Props = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="flex flex-col items-center justify-center">
      <div class="flex flex-col items-center gap-8">
        
        <h1 class="text-center text-6xl lg:text-8xl">
          <slot><span class="text-gradient">Jasa Like Terpercaya</span> <br/> Cepat & Berkualitas</slot>
        </h1>
        
        <p class="text-center text-2xl max-w-3xl">
          Gunakan jasa like terpercaya untuk meningkatkan engagement dan popularitas akun sosial media Anda. Cepat, aman, dan berkualitas.
        </p>

        <div class="flex flex-col gap-3 min-[500px]:flex-row mt-4">
          <a class="button has-icon" href="#layanan">
            <Icon name="lucide:list" />
            Lihat Layanan
          </a>
          
          <a class="button has-icon color-secondary" href="https://wa.me/6289634740308?text=Halo%20admin,%20saya%20mau%20konsultasi%20Jasa%20Like.">
            <Icon name="lucide:message-circle" />
            Konsultasi Gratis
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    text-wrap: unset;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      light-dark(var(--color-primary-300), var(--color-secondary-100)) 25%,
      light-dark(var(--color-secondary-300), var(--color-primary-200))
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
